<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.farmer.onekeyshare">


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true">
    </application>
</manifest>
