<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egceo.app.myfarm">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 存储权限 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.NFC"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="com.egceo.app.myfarm.permission.JPUSH_MESSAGE"></uses-permission>

    <permission
        android:name="com.egceo.app.myfarm.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />


    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name=".home.activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.MainActivityNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".topic.activity.TopicDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".farmset.activity.FarmSetActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".city.activity.CityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".topic.activity.TimingTopicDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".farm.activity.FarmDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search.activity.SearchResultsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.UserActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".order.actvity.OrderSetInfoAcitivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".order.actvity.OrderChooseDateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".order.actvity.OrderChoosePayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".contact.activity.ContactListAcitivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".order.actvity.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".order.actvity.RefundOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".order.actvity.SubmitRefundActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".order.actvity.OrderCodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.UserSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.FarmSetNavListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.html.HtmlActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.PhotoViewPageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".farm.activity.QuickPayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".comment.SendCommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="galleryfinal.PhotoChooseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.SetUserNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.RedPackageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.NewRedPackageActivity"
            android:screenOrientation="portrait"/>
        <!--银联 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxb7092588e08a7e4f" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.MapNavActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.activity.AboutUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent1104803292" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".services.LocationService"></service>
        <service android:name=".services.UploadService"></service>
        <service android:name=".services.IbeaconService"></service>

        <service android:name="com.amap.api.location.APSService"></service>


        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.egceo.app.myfarm" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.egceo.app.myfarm" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.egceo.app.myfarm" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.egceo.app.myfarm" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="b13c5a0fa8cc14aae7df0a79" /> <!--  </>值来自开发者平台取得的AppKey-->


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6374a3b6afa36b5a1381fa970f2da4e5" />

        <!-- 6374a3b6afa36b5a1381fa970f2da4e5 发布-->
        <!-- 4cc96f1f39e0d90af1e1f86b28524e49 debug-->
    </application>

</manifest>
