<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egceo.app.myfarm">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />


    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name=".home.activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".search.activity.SearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".topic.activity.TopicDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".farmset.activity.FarmSetActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".city.activity.CityActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".topic.activity.TimingTopicDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".farm.activity.FarmDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".search.activity.SearchResultsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".user.activity.UserActivity"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".order.actvity.OrderSetInfoAcitivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".order.actvity.OrderChooseDateActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.actvity.OrderChoosePayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".contact.activity.ContactListAcitivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".order.actvity.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.actvity.RefundOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.actvity.SubmitRefundActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.actvity.OrderCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".user.activity.UserSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.activity.FarmSetNavListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.html.HtmlActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.PhotoViewPageActivity"
            android:screenOrientation="portrait"></activity>
        <!--银联 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxb7092588e08a7e4f" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.MapNavActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <service android:name=".services.LocationService"></service>

        <service android:name="com.amap.api.location.APSService"></service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4cc96f1f39e0d90af1e1f86b28524e49" />

        <!-- 6374a3b6afa36b5a1381fa970f2da4e5 发布-->
        <!-- 4cc96f1f39e0d90af1e1f86b28524e49 debug-->
    </application>

</manifest>
